{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/products.css' %}" rel="stylesheet">
{% endblock %}

{% block content2 %}
    <div class="details">
        <div class="links clearfix">
            <ul class="links-menu">
                <li><a href="#" class="active">все</a></li>
                    {% for category in categories %}
                        <a href="{% url 'products:product' category.id %}"
                           class="list-group-item">{{ category.name }}
                        </a>
                    {% endfor %}
            </ul>
        </div>
        <div class="details-products">
            <div class="details-slider">
                <div class="slider-product">
                    <img src="{% static 'img/slider1.jpg' %}">
                </div>
                <div class="slider-control">
                    <div class="block">
                        <a href="#"><img src="{% static 'img/controll.jpg' %}" alt="">
                            <div class="text"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="description">
                <h3 class="big-bold">Отличный стул</h3>
                <h3 class="red">горячее предложение</h3>
                <p class="price"> 2585.9 <span>руб</span></p>
                <a href="#" class="red-button">
                    подробнее <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <div class="description-text">
                    <p>Расположитесь комфортно.</p>
                    <p>Отличное качество материалов
                    позволит вам это.</p>
                    <p>Различные цвета</p>
                    <p>высочайший уровень
                    эргономики и прочность.</p>
                </div>
            </div>
        </div>
        <div class="related">
            <div class="title clearfix">
                <h2>Популярные товары</h2>
                <a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
            </div>
            {% for product in products %}
                <div class="related-products clearfix">
                    <div class="block">
                        <a href="#"><img src="/media/{{ product.image }}" alt="">
                            <div class="text">
                                <img src="{% static 'img/icon-hover.png' %}" alt="img">
                                <h4 class="card-title">
                                    <a href="{% url 'products:product' product.id%}">{{ product.name }}</a>
                                </h4>
                                <h5>{{ product.price }} руб.</h5>
                                <a href="{% url 'baskets:basket_add' product.id %}" class="button-order">заказать <img src="{% static 'img/arrow.png' %}" alt=""></a>
                                <p class="card-text">{{ product.short_description }}</p>
                                <p>{{ product.description }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
            <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
                    <a class="page-link"
                       href="{% if products.has_previous %} {% url 'products:page' products.previous_page_number %} {% else %} # {% endif %}"
                       tabindex="-1"
                       aria-disabled="true">
                        Previous
                    </a>
                </li>
                {% for page in products.paginator.page_range %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'products:page' page %}">
                            {{ page }}
                        </a>
                    </li>
                {% endfor %}
                <li class="page-item {% if not products.has_next %} disabled {% endif %}">
                    <a class="page-link"
                       href="{% if products.has_next %} {% url 'products:page' products.next_page_number %} {% else %} # {% endif %}">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
